*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #e0e0e0;
}

.header .logo {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 15px;
}

nav{
    margin-top: 20px;
}

nav > a{
    padding: 5px;
    margin: 5px;
    text-transform: uppercase;
    border: none;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 2px solid #353333;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}

nav > a:hover{
    color: #ece7e7;
    background-color: #353333;
	border: 1px solid #353333;
    transition: 0.5s;
    border-radius: 3px;
}

footer {
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #e0e0e0;
    text-align: center;
}

.footer-content {
    margin-bottom: 10px;
}

.footer-content p {
    margin: 0;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content ul li {
    display: inline;
    margin: 0 10px;
}

.footer-content a {
    text-decoration: none;
    color: #333;
}

.autor {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}


.social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.hero-image{
    background-size: cover;           /* Faz a imagem cobrir toda a área */
    background-position: center;      /* Centraliza a imagem */
    background-repeat: no-repeat;     /* Evita repetição da imagem */
    width: 100%;                      /* Largura total */
    height: 45vh;   
}

.introduction{
    margin: auto;
    width: 900px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-introduction{
    margin-left: 20px;
    margin-bottom: 20px;
}

.text-introduction > p{
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 1.3;
    padding-bottom: 20px;
    font-weight: 500;
}

.text-introduction > a{
    background-color: #ffffff;
    border: none;
    padding: 15px;
    color: #000000;
    border-radius: 3px;
    border: 2px solid black;
    font-size: 16px;
    text-decoration: none;
}

.text-introduction > a:hover{
    background-color: #333;
    color: #e0e0e0;
    transition: 0.5s;
}

.img-introduction > img{
    width: 500px;
    height: 450px;
    position: relative;
    border-radius: 5px;
}

.text-page{
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 1.3;
    padding-bottom: 10px;
    font-weight: 500;
    margin: auto;
    width: 900px;
    padding: 20px;
}

.curiosities{
    margin: auto;
    margin-bottom: 100px;
    width: 900px;
    padding: 50px;
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 1.3;
    padding-bottom: 20px;
    font-weight: 500;
}

.curiosities > ul > li{
    margin: 20px;
}