body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 30px 40px;
    border-bottom: 1px solid #e0e0e0;
}

.header .logo {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 15px;
}

footer {
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #e0e0e0;
    text-align: center;
}

.footer-content {
    margin-bottom: 10px;
}

.footer-content p {
    margin: 0;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content ul li {
    display: inline;
    margin: 0 10px;
}

.footer-content a {
    text-decoration: none;
    color: #333;
}

.autor {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}


.social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.section-hero-image{
    width: 100%;
    height: 100vh;
}

.hero-image{
    width: 100%;
    height: 100vh;
}